.dark-mode-bg {
    background: linear-gradient(to right,#051960,#591da9);
}
.light-mode-bg {
    background: linear-gradient(to right,#da98ed,#99b9d8);
}

.light-color {
    color: #eaeaea;
}
.dark-color {
    color: #1e1e1e;
}

#ul-navbar {
    background: linear-gradient(to right,#051960,#591da9);
    list-style-type: none;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0px;
    border: none;
    padding: 0px;
    width: 100%;
    text-align: center;
}
#ul-navbar li {
    display: inline-block;
    padding: 17px 30px;
    text-align: center;
    border-bottom: solid 0px;
    border-color: #591da9;
    transition: all ease-in 0.15s;
}
#ul-navbar li:hover {
    border-bottom: solid 4px;
    padding: 14px 30px;
    border-color: #da98ed;
    transition: all ease-out 0.1s;
}
#ul-navbar li a {
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 22px;
}

#logo-img {
    position: fixed;
    top: -2px;
    left: 1px;
    height: 60px;
    width: auto;
    padding: 0;
    margin: 0;
}

#logo-text {
    position: fixed;
    top: 0px;
    left: 68px;
    height: 60px;
    width: auto;
}

#navbar-line {
    position: fixed;
    top: 80px;
    height: 7px;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #FFFFFF 30.52%, #FFFFFF 61.77%, rgba(0, 0, 0, 0) 100%);
}

#navbar-line:hover {
    height: 5px;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px 0px #FFFFFF;
    transition:all ease 0.3s;
}

#change-mode-button {
    position:fixed;
    top: 8px;
    right: 100px;
    height: 24px;
    width: 48px;
    border-radius: 12px;
    border: none;
}

#language-switcher {
    position:fixed;
    top: 8px;
    right: 8px;
}

select {
    background: none;
    border: solid 5px;
    border-color: #99b9d8;
}

option {
    background: #4d8ccb;
}