@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600&display=swap');

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    border: none;
}
.navbar li {
    display: inline-block;
    text-decoration: none;
}
.navbar a {
    text-decoration: none;
    font-family: "Oxanium", sans-serif;
}
hr {
    margin: 0px;
    border: 0px;
    background-color: crimson;
    height: 2.5px;
}