@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600&display=swap');

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    border: none;
}
.navbar li {
    display: inline-block;
    text-decoration: none;
    padding: 12px 18px;
    vertical-align: middle;
}
.navbar a {
    text-decoration: none;
    font-family: "Oxanium", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
.navbar a:active {
    color: #ddd;
}
hr {
    margin: 0px;
    border: 0px;
    background-color: crimson;
    height: 2.5px;
}

.h1-text-center-white {
    font-family: "Oxanium", sans-serif;
    font-size: 48px;
    text-align: center; 
    color: #fff;
}