@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600&display=swap');

body {
    background: linear-gradient(to right,#03103f,#291049);
    margin: 0px;
}

::-webkit-scrollbar {
    width: 0px;
}

#ScrollPath {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 8px;
    height: 100%;
    background: rgba(255,255,255,0.15);
}
#ProgressBar {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 8px;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: scrollbarAnimation 5s linear infinite;
}
@keyframes scrollbarAnimation{
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
}

.navbar {
    background: linear-gradient(to right,#03103f,#291049);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    border: none;
    position: sticky;
    top: 0px;
}
.navbar li {
    display: inline-block;
    text-decoration: none;
    padding: 15px 10px;
}
.navbar a {
    text-decoration: none;
    font-family: "Oxanium", sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: #fff;
}
.navbar a:active {
    color: #ddd;
}

hr {
    margin: 0px;
    border: 0px;
    background-color: crimson;
    height: 2.5px;
}

.h1-text-center-white {
    font-family: "Oxanium", sans-serif;
    font-weight: 400;
    font-size: 92px;
    text-align: center; 
    color: #fff;
    margin: 0px;
    transition: all 0.3s ease 1s;
}