body {
    background-color: blueviolet;
    border: none;
}

.navbar {
    display: flex;
    flex-direction: row;
    margin: 0px;
    border: none;
}

.corner-logo {
    border: none;
    margin: 0px;
}