@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600&display=swap');

body {
    background: linear-gradient(to right,#03103f,#291049);
    margin: 0px;
}
/*remove standard scrollbar*/
::-webkit-scrollbar {
    width: 0px;
}
/*add custom scrollbar*/
#ScrollPath {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 8px;
    height: 100%;
    background: rgba(255,255,255,0.15);
}
#ProgressBar {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 8px;
    height: 100%;
    background: linear-gradient(to top, #00d0ff, #00ff99);
    animation: scrollbarAnimation 4s linear infinite;
}
/*scrollbar glowing effect*/
#ProgressBar::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #00d0ff, #00ff99);
    filter: blur(10px);
}
#ProgressBar::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #00d0ff, #00ff99);
    filter: blur(20px);
}
/*scrollbar color animation*/
@keyframes scrollbarAnimation{
    0%,100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(120deg);
    }
}

/*navigation bar*/
.navbar {
    background: linear-gradient(to right,#03103f,#291049);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    border: none;
    position: sticky;
    top: 0px;
}
.navbar li {
    display: inline-block;
    text-decoration: none;
    padding: 15px 10px;
}
.navbar li:hover {
    background-color: rgba(255,255,255,0.05);
    border-bottom: solid 4px;
    border-color: #00d0ff;
    padding-bottom: 11px;
    transition: all ease-out 0.2s;
    cursor: pointer;
}
.navbar a {
    text-decoration: none;
    font-family: "Oxanium", sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: #fff;
}
.navbar a:active {
    color: #ddd;
}

hr {
    margin: 0px;
    border: 0px;
    background-color: rgb(255, 255, 255);
    height: 2px;
}

.h1-text-center-white {
    font-family: "Oxanium", sans-serif;
    font-weight: 400;
    font-size: 92px;
    text-align: center; 
    color: #fff;
    margin: 0px;
}

/*Text Effects*/
.h1-text-center-hue-change{
    font-family: "Oxanium", sans-serif;
    font-weight: 400;
    font-size: 92px;
    text-align: center; 
    color: #00d0ff;
    margin: 0px;
    text-shadow: 0px 0px 32px #00e5ff;
    animation: textHueChangeAnimation 4s linear infinite;
}

@keyframes textHueChangeAnimation{
    0%,100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(120deg);
    }
}